body {
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.header {
    border: 2px solid red;
    font-size: 2.5em;
    text-align: center;
    padding: .35em 0px;
    position: absolute;
    top: 0px;
    width: 100vw;
}

.board {
    border: 2px solid blue;
    height: 69vh;
    width: 69vw;
    align-self: center;
    /* margin: 100px 1em 0em; */
    display: grid;
    min-height: 180px;
    min-width: 180px;
    max-height: 500px;
    max-width: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 100px; */
    position: absolute;
    align-self: center;
    top: 100px;
    border: 2px solid red;
    padding: 12px;
}

.button-container {
    display: flex;
    justify-content: center;

}

button {
    padding: .5em;
    margin: 1em;
}

button:hover {
    opacity: 90%;
    cursor: pointer;
    /* add shadow */
}

.black {
    background-color: rgb(15, 15, 15);
    color: white;
    border: 2px solid crimson;
    border-radius: 8px;
}

.utility {
    background-color: whitesmoke;
    color: black;
    border: 2px solid crimson;
    border-radius: 8px;
}

.scale-container {
    display: flex;
    justify-content: center;
}

.scale-container p {
    padding: 8px;
    margin: 8px;
}