body {
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.header {
    border: 2px solid red;
    font-size: 2.5em;
    text-align: center;
    padding: .5em;
}

.board {
    border: 2px solid blue;
    height: 420px;
    width: 420px;
    align-self: center;
    margin: 1em 1em;
    display: grid;
}

.button-container {
    display: flex;
    justify-content: center;

}

button {
    padding: .5em;
    margin: 1em;
}

.scale-container {
    display: flex;
    justify-content: center;
}

.scale-container p {
    padding: 8px;
    margin: 8px;
}